.gradient-background {
    background: linear-gradient(300deg, #092d3c, #08312ced, #138080f2);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .face:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .page-height{
    height: 100vh;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .brown-h1 {
    color: #E8DFCA;
  }

  #my-btn:hover {
    background-color: #E8DFCA;
  }

  .project-btn:hover{
    background-color: #E8DFCA;
  }

  .project-images {
    width: 180px;
    height: 180px;
    border-radius: 10%;
  }

  .project-btn {
    background-color: #CEF09D;;
  }

  